* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #dca1e0;
    --text-color: #ffffff;
    --background-color: #2c212e;

    --title-font: "Bebas Neue", sans-serif;
    --text-font: "Poppins", sans-serif;
}

body {
    font-family: var(--text-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    font-family: var(--title-font);
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 2.5em;
}

header ul {
    list-style-type: none;
    margin-left: 15vw;
}

header li {
    display: inline;
    margin-left: 80px;
}

header a {
    text-decoration: none;
    color: var(--main-color);
}

header a:hover {
    color: #9a629e;
    transition: 0.3s;
    transform: scale(1.05);
}

main {
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 40px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25vw;
    min-width: 300px;
    margin: 40px 3%;
    text-align: justify;
    gap: 20px;
}

h1 {
    font-size: 2.2em;
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 37px;
}

label {
    color: var(--main-color);
    font-weight: 500;
}

.content p {
    font-weight: 200;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.links {
    display: flex;
    justify-content: center;
    gap: 40px;
}

button {
    background-color: var(--main-color);
    font-size: 1.1em;
    border: none;
    height: 50px;
    width: 12vw;
    border-radius: 30px;
}

button:hover {
    background-color: #9a629e;
    transition: 0.3s;
    transform: scale(1.05);
}

.links a {
    color: var(--background-color);
    text-decoration: none;
}

img {
    max-width: 85%;
    border: solid 8px var(--background-color);
    outline: solid 1px var(--main-color);
    border-radius: 30px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px 0;
    background-color: var(--main-color);
    color: var(--background-color);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
    }

    header ul {
        padding: 0;
        text-align: center;
        margin: 0;
    }

    header li {
        margin: 10px 50px;
        font-size: 1.4em;
    }

    main {
        flex-direction: column;
        height: auto;
    }

    section {
        max-width: 90vw;
        margin: 20px auto;
    }

    img {
        margin-top: 40px;
        width: 60%;
    }

    .links button {
        width: 20vw;
        padding: 10px 20px;
    }
}